/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cddaf8;
    width: 85%;
    margin: 0px auto;
    padding: 0;
    overflow: hidden;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   #h-container {
     background-color: white;
     height: 55px;
     position: fixed;
     top: 0px;
     width: 100%;
     z-index: 99;
   }

   #header {
     border-bottom: 0.75px solid #cddaf8;
     height: inherit;
     margin: 0px auto;
     overflow: hidden;
     width: 85%;
   }

   #h-container.top {
     background-color: white;
     border-bottom: 0.75px solid #cddaf8;
     height: 75px;
     position: fixed;
     top: 0px;
     width: 100%;
     z-index: 99;
   }

   #header.top {
     height: inherit;
     margin: 0px auto;
     overflow: hidden;
     width: 85%;
   }


   #header_img {
     display: block;
     float: left;
     height: 120%;
     position: absolute;
     top:2%;
   }

   #header ul {
     list-style-type: none;
     margin: 10;
     padding: 0;
   }

   #header li {
     float: right;
   }

   #header.top li a {
       font-size: 16px;
       padding: 15px 15px;
   }

   #header li a {
       font-size: 15px;
       display: block;
       text-decoration: none;
       text-align: center;
       padding: 5px 15px;
   }

   #search {
     width: 20px;
   }

   .menu {
     display: none;
   }

   .even {
     color: #FF9933;
   }

   .even:hover {
     color: #cddaf8;
   }

   .odd {
     color: #67acb7;
   }

   .odd:hover {
     color: #cddaf8;
   }

   input[type="text"] {
     border: none;
     border-bottom: 1px solid #cddaf8;
     cursor: pointer;
     display: inline-block;
     font-size: 14px;
     height: 20px;
     outline: none;
     transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
     width: 70;
     z-index: 3;
   }

   input[type="text"]:focus:hover {
     border-bottom: 1px solid #cddaf8;
   }

   input[type="text"]:focus {
     border-bottom: 1px solid #cddaf8;
     cursor: text;
     width: 70px;
     z-index: 1;

   }

   input[type="image"] {
     cursor: pointer;
     display: inline-block;
     height: 20px;
     opacity: 0.6;
     transition: opacity .4s ease;
     width: 20px;
     z-index: 2;
   }

   .site_map {
       height: 100vh;
       overflow: hidden;
       position: relative;
       top: 50px;
       width: 100%;
   }

   #featured {
     display: block;
     height: 100%;
     left: 1.5%;
     position: absolute;
     top: 15%;
     overflow: hidden;
     width: 98%;
   }

   #ftitle {
     top: 6%;
     font-size: 22px;
   }

   .fheader {
     margin: 0 auto;
     width: 100%;
   }

   .ftextcontainer {
     height: 25%;
     left: 4%;
     position: absolute;
     top: 72%;
     width: 92%;

   }

   .farticle {
     background: #cddaf8;
     display: block;
     float: left;
     height: 68%;
     overflow: hidden;
     padding: 0;
     position: absolute;
     transition: all ease 0.25s;
     width: 32%;
   }

   .farticle:hover {
     background: #b3c9fb;
     transition: all ease 0.25s;
   }

   .fimage {
     width: 100%;
     height: 70%;
     display: block;
     position: absolute;
   }

   .fp {
     font-size: 15px;
     margin: 0 auto;
     width: 100%;
   }

   #f1 {
     overflow: hidden;
   }

   #f2 {
     left: 33.5%;
     overflow: hidden;
   }

   #f3 {
     left: 67%;
     overflow: hidden;
   }


   .arrow_down {
     left: 46%;
     position: absolute;
     top: 87%;
     width: 70px;
   }

   .section {
       position: relative;
       top: 0;
       height: 95vh;
       width: 100%;
       overflow: hidden;
   }

   .sec_container {
     position: absolute;
     top: 15%;
     width: 100%;
     height: 97%;


   }


   .article {
     background: #cddaf8;
     height: 82%;
     left: 8%;
     position: absolute;

     transition: all ease 0.25s;
     width: 44%;
   }

   .article2 {
     background: #cddaf8;
     height: 40%;
     left: 53%;
     position: absolute;

     transition: all ease 0.25s;
     width: 30%;
   }

   .article3 {
     background: #cddaf8;
     position: absolute;
     width: 30%;
     height: 40%;
     top: 42%;
     left: 53%;
   }


   .article_box {
     background: white;
     position: absolute;
     width: 95%;
     height: 95%;
     top: 5px;
     left: 8px;
   }


   .article:hover, .article2:hover, .article3:hover {
     background: #b3c9fb;
     transition: all ease 0.25s;
   }


   .article_image {
     width: 100%;
     height: 75%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px
   }

   .article_image2 {
     float: right;
     width: 65%;
     height: 100%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
   }

   .article_image3 {
     float: right;
     width: 65%;
     height: 100%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px
   }

   .article_box:hover h4{
     color: black;
     opacity: 1;

   }


   .arrow_right {
     position: absolute;
     height: 100%;
     transition: ease .25s;
   }

   .container {
     position: absolute;
     top: 7%;
     left: 85%;
     height: 70%;
     transition: ease .25s;

   }

   .container:hover .overlay {
     background-color: black;
     opacity: 1;
   }

   .container:hover .arrow_right {
     transform: scale(1.05);
     transition: ease .25s;
   }

   .overlay {
     position: absolute;
     top: 25px;
     left: 85%;
     height: 70%;
     opacity: 0;
     transition: .25s ease;
   }

   .more_g {
     color: #67acb7;
     font-size: 15px;
     position: absolute;
     top: 44%;
     left: 50%;
     transition: ease .25s;

   }

   .more_o {
     color: #fcb679;
     font-size: 15px;
     position: absolute;
     top: 44%;
     left: 50%;
     transition: ease .25s;

   }

   .footer {
     background: #67acb7;
     position: relative;
     top: 25px;
     height: 20vh;
     width: 100%;
     overflow: hidden;
   }

   h3 {
     color: #3f3f3f;
     font-family: "Helvetica";
     font-size: 25px;
     font-weight:normal;
     left: 8%;
     position: absolute;
     top: 3%;
   }

   h4 {
     color: #303033;
     font-family: "Helvetica";
     font-size: 22px;
     font-weight: bold;
   }

   .textcontainer {
      display: block;
      left: 2.5%;
      position: absolute;
      top: 76%;
      height: 17%;
      width: 95%;
   }

   .textcontainer2 {
      display: block;
      height: 90%;
      left: 2.5%;
      position: absolute;
      top: 2%;
      width: 30%;
   }

   #h1 {
      margin: 0 auto;
      width: 100%;
     }

    #h2 {
      margin: 0 auto;
      width: 100%;
    }

     #p1 {
       margin: 0 auto;
       width: 100%;
     }

     #p2 {
       margin: 0 auto;
       width: 100%;
     }

   @media only screen and (max-width: 1000px), screen and (max-height: 600px) {
      #header li a  {
        font-size: 14px;
        padding: 5px 10px;
     }
     #search {
       width: 20px;
     }

     #header.top li a {
         font-size: 14px;
         padding: 15px 15px;
     }

     #header_img {
       display: block;
       float: left;
       height: 100%;
       position: absolute;
       top: 9%;

     }

     #header_img.top {
       width: 25%;
     }

     .ftextcontainer {
       position: absolute;
       top: 83%;

     }

     .fp, #p1, #p2  {
       display: none;
     }

     .fimage {
       position: absolute;
       height: 80%;
     }

     .article_image {
       height: 80%;
     }

     .textcontainer {
       top: 81%;
     }

     h4 {
       font-size: 20px;
     }

   }

   @media only screen and (max-height: 470px) {

     .site_map {
       height: 120vh;
     }

     .section {
       height: 120vh;
     }




     .article_box {
       height: 92%;
     }

     h3 {
       top: 3%;
       font-size: 24px;
     }

     h4 {
       font-size: 18px;
     }

     .more_o, .more_g {
       top: 35%;
        font-size: 12px;
     }

   }

    @media only screen and (max-height: 320px) {

      .site_map {
        height: 200vh;
      }

      .section {
        height: 200vh;
      }

      h3 {
        top: 3%;
      }


    }


   @media only screen and (max-width: 800px) {
     #header .odd, #header .even {
       /*display: none;*/
       float: left;
     }

     #search {
       width: 20px;
     }

     .menu {
       display: block;
     }

     #menu {
       width: 20px;
     }

     #menulist {
       background-color: #ffeac7;
       height: 0;
       right: 7.5%;
       position: absolute;
       top: 100%;
       width: 20%;
     }

     #menulist.open {
       background-color: #ffeac7;
       height: auto;
       right: 7.5%;
       position: absolute;
       top: 100%;
       width: 20%;
     }

     #menulist ul {
       display: none;
     }

     #menulist ul.open {
       overflow: hidden;
       padding: 0;
       margin: 0 auto;
     }

     #menulist ul li {

       float: none;
       font-size: 16px;
       text-align: center;
       width: 100%;
     }

     #menulist ul li a {
        padding: 8px;
        width: 100%;
     }


     #menu_link {
       cursor: pointer;
     }


     #featured {
       display: block;
       background-color: #ccc;
       left: 1.5%;
       position: absolute;
       top: 5%;
       width: 98%;
     }

     #ftitle {
       top: 5%;
       font-size: 20px;
     }

     .farticle {
       display: block;

       height: 100%;
       transition: all ease 0.25s;
       width: 100%;
     }

     #featured {
         height: 75%;

         overflow: auto;
         position: absolute;
         top: 10%;
         white-space: nowrap;
         width: 85%;

       }

       #f1 {


       }

       #f2 {


       }

       #f3 {



       }



   }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
